/*--404--*/
.four-four {
	text-align: center;
	height: 536px;
	padding-top: 7em;
	background-color: #fff;
	border-top: 3px solid pink;
}

.four-four h3 {
	margin: 0;
	font-size: 16em;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
	color: #000;
	vertical-align: bottom;
}

.four-four p {
	font-size: 2em;
	padding: 0.4em 0em;
	color: #FF6666;
}

.four-four h3 span {
	color: red;
}
/*--404--*/
/*--contact--*/