@CHARSET "UTF-8";

.portfolio-pagination {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.pagination li {
	display: inline-block;
	margin: 0px;
}

.pagination li a {
	color: #000;
	padding: 0px 3px 1px;
	width: 24px;
	border-radius: 12px;
	border: 1px solid #fff;
}

.pagination li:first-child a {
	color: #000;
	padding: 0px 3px 1px;
	width: 45px;
	border-radius: 12px;
	border: 1px solid #fff;
}

.pagination li:last-child a {
	color: #000;
	padding: 0px 3px 1px;
	width: 45px;
	border-radius: 12px;
	border: 1px solid #fff;
}

.pagination li a:hover,.pagination .active a,.pagination .active a:hover,.pagination .active a:focus
	{
	background: none;
	border-color: #cc9b59;
	color: #cc9b59;
}

.img200 {
	width: 200px;
	height: 200px;
	background-position: center center;
	background-size: cover;
}

.img20 {
	width: 20px;
	height: 20px;
	background-position: center center;
	background-size: cover;
}
.img30 {
	width: 30px;
	height: 30px;
	background-position: center center;
	background-size: cover;
}
.img60 {
	width: 60px;
	height: 60px;
	background-position: center center;
	background-size: cover;
}
.img40 {
	width: 40px;
	height: 40px;
	background-position: center center;
	background-size: cover;
}

.mediaCircle {
	padding-top: 5px;
	border-radius: 10px;
	border: 3px inset transparent;
	background: linear-gradient(white, white) padding-box,
		url(../image/defaults/b1.jpg) border-box 0/cover;
}

.borderCircle {
	margin: -5px;
	padding-top: 10px;
	border-radius: 10px;
	border: 3px inset transparent;
	background: linear-gradient(white, white) padding-box,
		url(../image/defaults/b1.jpg) border-box 0/cover;
}

.borderOrange {
	border-radius: 5px;
	border: 1px orange solid;
	font-size: 10px;
	padding: 5px;
	margin: 5px 10px 5px 0px;
	color: orange;
}

.borderSky {
	border-radius: 5px;
	border: 1px #0094ff solid;
	font-size: 10px;
	padding: 5px;
	margin: 5px 10px 5px 0px;
	color: #0094ff;
}
.borderGray {
	border-radius: 5px;
	border: 1px gray solid;
	font-size: 10px;
	padding: 5px;
	margin: 5px 10px 5px 0px;
	color: gray;
}

.borderGreen {
	border-radius: 5px;
	border: 1px #1cddb1 solid;
	font-size: 10px;
	padding: 5px;
	margin: 5px 10px 5px 0px;
	color: #1cddb1;
}

.borderGray2{
	border-radius: 5px;
	border: 1px gray solid;
	font-size: 10px;
	color: gray;
}

.border2Circle {
	margin: -5px;
	padding-top: 0px;
	border-radius: 10px;
	border: 3px inset transparent;
	background: linear-gradient(white, white) padding-box,
		url(../image/defaults/b2.jpg) border-box 0/cover;
}

.border3Circle {
	margin: -5px;
	padding-top: 10px;
	border-radius: 10px;
	border: 3px inset transparent;
	background: linear-gradient(white, white) padding-box,
		url(../image/defaults/b3.jpg) border-box 0/cover;
}

.border4Circle {
	margin: -5px;
	padding-top: 10px;
	border-radius: 10px;
	border: 3px inset transparent;
	background: linear-gradient(white, white) padding-box,
		url(../image/defaults/b4.jpg) border-box 0/cover;
}

.borderCircle2 {
	margin: -5px;
	padding-top: 10px;
	border-radius: 10px;
	border: 5px inset transparent;
	background: linear-gradient(white, white) padding-box,
		url(../image/defaults/b1.jpg) border-box 0/cover;
}

.bgBorder {
	color: #0094ff;
	border-bottom: 3px inset transparent;
	background: linear-gradient(#f5f5f5, #f5f5f5) padding-box, #0094ff
		border-box 0/cover;
}

.bgNormalBorder {
	border-bottom: 2px #999 solid;
}