@CHARSET "UTF-8";

.portfolio-pagination{
  text-align: center;
  
  padding-top: 40px;
  padding-bottom: 90px;
}

.pagination li{
  display: inline-block;
  margin: 0 10px;
}

.pagination li a{
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
}


.pagination li:first-child a{
  background: url(/shop/images/portfolio/left.png);
  background-repeat: no-repeat;
  background-position:0px 16px;
  line-height:40px;
  width: 80px;
  height: 40px;
  border: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.pagination li:first-child a:hover{
  background: url(/shop/images/portfolio/left.png);
  background-position: 0px -30px;
  background-repeat: no-repeat;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.pagination li:last-child a{
  background: url(/shop/images/portfolio/right.png);
  background-repeat: no-repeat;
  line-height:40px;
  background-position:66px 16px;
  width: 80px;
  height: 40px;
  border: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.pagination li:last-child a:hover{
  background: url(/shop/images/portfolio/right.png);
  background-position: 66px -30px;
  background-repeat: no-repeat;
  -webkit-transition: 300ms;
  transition: 300ms;
}


.pagination li a:hover,
.pagination .active a,
.pagination .active a:hover,
.pagination .active a:focus{
  background: none;
  border-color: #cc9b59;
  color: #cc9b59;
}
